[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
psycopg2 = "*"
python-decouple = "*"
djangorestframework-simplejwt = "*"
django-filter = "*"
apscheduler = "*"
requests = "*"
django-cron = "*"
gunicorn = "*"
drf-yasg = {extras = ["validation"], version = "*"}
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.10"
